/* La carte doit avoir une hauteur pour être visible */
#map {
  width: 100%;
  height: 90vh;
  border: 1px solid #ccc;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  padding: 10px;
}

/* ------------------------------------------------------------------------- */
/*  Animation SVG dans les icônes Leaflet : nécessaire pour capter mouseover */
/* ------------------------------------------------------------------------- */

.picto svg rect {
  pointer-events: visiblePainted; /* permet au SVG de détecter le survol */
}
